.footer {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: #5fa503;
    border-top: 1px solid #003226;
    width: 100%;
    bottom: 0;
    position: fixed;
}