.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color:#fcfcfc;
    color: #003226;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo_img {
    width: 40px;
    margin-right: 0.8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #003226;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5em 0.8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #003226;
    color: #fff;
}

.navbar li:hover > a {
    color: #fff;
}